<a href="https://colab.research.google.com/github/rahmawtnisa/Project-SQL-DQLab/blob/main/SQL_Mission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Misi 1-5 Batch 16: Fundamental SQL Menggunakan Google Big Query

##Konsep dasar SQL, konsep DDL dan DML, serta Query SELECT

Misi:
Kali ini aku ingin tahu gambaran data penjualan DQMall berdasarkan database yang kemarin sudah aku rapikan. Aksara memintaku untuk membuat query yang menampilkan 10 transaksi yang ada pada tabel ‘transaction’, tanpa menggunakan filter apapun. Aku akan mengaplikasikan penggunaan syntax SELECT dan LIMIT pada SQL untuk mengerjakan misi tersebut.

Soal:

Buatlah Query untuk melihat 10 transaksi yang ada pada tabel 'transaction' , tanpa menggunakan filter apapun.

In [ ]:
select *
from transaction
limit 10

##Query WHERE, SORT, AGREGASI, dan HAVING

Misi:

Untuk memperdalam pengetahuanku akan ilmu baru yang kuperoleh, Manager DQMall memintaku untuk menampilkan produk ID yang memiliki penjualan terbanyak. Format laporan yang diminta adalah product_id dan total_pembelian_per_produk. Aku akan menggunakan tabel ‘transaction’ untuk mengerjakan hal tersebut. Untuk nilai dari total_pembelian_per_produk dapat diperoleh dengan menjumlahkan semua produk yang terjual (quantity)

Instruksi Pengerjaan:
Menampilkan product_id dan total pembelian per produk:

Kolom yang ditampilkan adalah product_id dan total pembelian per produk dengan nama alias total_pembelian_per_produk.
total_pembelian_per_produk diperoleh dengan menjumlahkan kolom quantity dari tabel.
Penggunaan GROUP BY:

Data dikelompokkan berdasarkan product_id.
Urutan Data:

Hasil diurutkan berdasarkan kolom total_pembelian_per_produk secara menurun (dari total pembelian terbesar ke terkecil).
Penggunaan nama kolom untuk GROUP BY dan ORDER BY:

Nama kolom harus digunakan, bukan angka atau urutan kolom.

In [ ]:
select product_id,SUM(quantity) as total_pembelian_per_produk
from transaction
group by product_id
order by total_pembelian_per_produk desc

##Query DATE, format angka, dan Subquery

Misi:

Karena guru yang terbaik dalam kasus seperti ini adalah berlatih, Aksara memberikan tugas padaku untuk menampilkan produk dengan profit tertinggi. Format dari laporan yang ia minta adalah nama produk (product_name), category (category), dan sub-category (sub_category). Untuk melakukan tugas kali ini, aku akan memanfaatkan dua tabel, yaitu tabel transaction dan ref_product.

Instruksi Pengerjaan:

Buatlah query untuk mengetahui apa "produk" yang memiliki "profit" tertinggi. Kita akan menggunakan tabel transaction dan ref_product untuk melakukan hal tersebut. Tabel transaction berisi data transaksional yang memuat data seperti siapa customer yang melakukan transaksi, produk apa yang dibeli, berapa jumlah produk yang dibeli, dan total transaksi yang dilakukan. Sementara itu, tabel ref_product berisi detail dari setiap produk seperti kategori dan nama produk Tampilkan output dalam urutan sebagai berikut: Product_Name, Category, dan Sub_Category.

In [ ]:
select product_name,category,sub_category
from ref_product
where product_id = (
	select product_id from transaction
    group by product_id
    order by SUM(profit) desc
    limit 1
)

##Query JOIN

Misi:

Saat aku sedang mempelajari  penggunaan JOIN, tiba-tiba Aksara menghampiriku. “Dibanding hanya membaca, praktik langsung saja, yuk? Bisakah kamu membantuku untuk membuat laporan pembelian dari tiap customer yang pernah berbelanja di DQMall?” Tanpa berpikir panjang, tentu saja aku langsung mengangguk. Aku melihat format dari laporan yang ditunjukkan oleh Aksara, aku diminta untuk menampilkan customer_id, customer_name, dan total_pembelian dari setiap customer. Aku merasa familiar dengan kolom-kolom tersebut karena sebelumnya aku sudah pernah menarik data dengan menggunakan tabel data tersebut. Aku langsung tahu bahwa aku harus menggunakan tabel ref_customer dan transaction untuk mengerjakan task ini. Aksara memberikan informasi bahwa kolom total_pembelian dapat diperoleh dengan menjumlahkan sales dan kita akan melakukan pembulatan pada kolom tersebut.

Instruksi Pengerjaan:

Buatlah query untuk menampilkan customer_id, customer_name, dan total_pembelian tiap customer. Kita akan menggunakan tabel ref_customer dan transaction untuk mengerjakan hal tersebut. Kolom total_pembelian diperoleh dengan menjumlahkan sales dan kita akan melakukan pembulatan pada kolom tersebut. Gunakan alias a untuk ref_customer dan alias b untuk transaction

In [ ]:
SELECT a.customer_id,a.customer_name,ROUND(SUM(b.sales)) AS total_pembelian
FROM ref_customer a
JOIN transaction b
ON a.customer_id = b.customer_id
GROUP BY a.customer_id, a.customer_name